@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8fafc; /* Gris muy suave (Slate-50) para descansar la vista */
    color: #1e293b; /* Texto gris oscuro (Slate-800) para alto contraste */
}

/* Scrollbar Rosa Personalizado */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fbcfe8; /* Rosa pastel */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f472b6; /* Rosa más fuerte al hover */
}
#rotate-warning {
  display: none;
}

@media (orientation: portrait) {
  body {
    overflow: hidden; /* Evita scroll */
  }
  
  /* Ocultamos la App real */
  #root {
    display: none;
  }

  /* Mostramos la advertencia */
  #rotate-warning {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ec4899; /* Tu color pink */
    z-index: 9999;
    flex-col: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 2rem;
  }
}