@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8fafc; /* Gris muy suave (Slate-50) para descansar la vista */
    color: #1e293b; /* Texto gris oscuro (Slate-800) para alto contraste */
}

/* Scrollbar Rosa Personalizado */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fbcfe8; /* Rosa pastel */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f472b6; /* Rosa más fuerte al hover */
}